.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    .posts {
        margin: 0 2rem;
        color: var(--clr-gray-900);

        
    }
}

@media (min-width: 700px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}