.nav {
    background-color: var(--clr-gray-900);
    color: var(--clr-white);

    h2 {
        font-size: 2rem;
        padding: 1rem 3rem;
    }

    ul {
        list-style: none;
        padding: 0 0 1rem 0;
        margin: 0;

        a {
            color: var(--clr-white);
            text-decoration: none;
        }

        li {
            display: flex;
            align-items: center;
            gap: 1rem;   
            margin: 0.5rem 2rem 0.5rem 2rem;
            padding: 1rem;
            border-radius: 0.3rem;
        }

        li:hover {
            background-color: var(--clr-gray-600);
        }
    }
}