.sideBarMenu {
  background-color: var(--white);
  border: 1px solid var(--green-300);
  border-radius: 0.5rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      color: var(--green-600);
      text-decoration: none;

      li {
        display: flex;
        align-items: center;
        height: 4.8rem;
        gap: 2rem;
        padding: 0 2rem;
        border: 0;
        transition: background-color 300ms, border 300ms;

        &:hover {
          background-color: var(--green-100);
        }

        &:first-child {
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        &:last-child {
          border-bottom-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
      }
    }
  }
}
