

.sideBarMenu {

    --green-400: #015958;
    --green-300: #008F8C;
    --green-200: #0CABAB;
    --green-100: #0FC2C0;
    --white: #FFFFFF;

    background-color: var(--white);
    color: var(--green-200);

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            color: var(--green-300);
            text-decoration: none;

            li {
                display: flex;
                align-items: center;
                height: 4.8rem;
                gap: 2rem;   
                padding: 0 2rem;
                border: 1px solid var(--white);
                transition: background-color 300ms, border 300ms;
            }
    
            li:hover {
                background-color: rgba(15, 194, 192, 0.3);
                border: 1px solid var(--green-200);
            }
        }
    }
}