.posts {
  margin-right: 2rem;

  .DisplaySearchBar {
    margin: 0.8rem 0;
    background-color: var(--white);
    border: 1px solid var(--green-300);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      gap: 0.8rem;
      li {
        font-size: 1.7rem;
        height: 5rem;
        color: var(--green-600);
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        transition: all 300ms ease;

        &:hover {
          background-color: var(--green-100);
        }
      }

      .active {
        background-color: var(--green-100);
      }
    }

    a {
      text-decoration: none;

      button {
        margin: 0 0.8rem;
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .list {
    .post {
      margin-bottom: 0.8rem;
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      .left {
      }

      .right {
        display: flex;
        gap: 1rem;
        a {
          text-decoration: none;

          button {
            display: flex;
            align-items: center;
            gap: 1rem;
          }
        }
      }
    }
  }
}
