.posts {
    width: 100vw;
    display: grid;
    grid-template-areas:
        "header header header header"
        "menu display display display"
        "footer footer footer footer";

    grid-template-columns: 20vw auto auto auto;
    grid-template-rows: auto auto auto;
    
    gap: 1rem;

    .header {
        grid-area: header;
    }

    .menu {
        background-color: var(--clr-light);
        grid-area: menu;
    }
    
    .display {
        grid-area: display;
        background-color: var(--clr-light);
        padding: 1rem 2rem;

        h1 {
            font-size: 2.5rem;
            color: var(--clr-dark);
            font-weight: 400;
        }

        p {
            font-size: 1.3rem;
            color: var(--clr-gray-600);
        }

        .filter {
            margin-top: 1rem;
            height: 5rem;
            background-color: var(--clr-white);
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0 1rem;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    margin-right: 2rem;
                }
            }

            button {
                background-color: var(--clr-orange-500);
                border: 0;
                color: var(--clr-white);
                padding: 0.5rem 1rem;
                margin: 0 1rem;
            }
        }
    }

    .footer {
        grid-area: footer;
        background-color: var(--clr-light);
    }
}