.seguidoresPorEmail {
    .content {
        margin: 1rem 2rem;
        background-color: var(--clr-white);

        .topBar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 5rem;
            padding: 0 2rem;
            border-bottom: 1px solid var(--clr-gray-300);

            span {
                color: var(--clr-gray-600);
                font-size: 1.4rem;
            }

            button {
                border: 0;
                background-color: var(--clr-orange-300);
                font: 1.4rem;
                padding: 0.5rem 1rem;
                color: var(--clr-white);
                transition: background-color 300ms;
                cursor: pointer;

                &:hover {
                    background-color: var(--clr-orange-500);
                }
            }

        }

        .box {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 1rem;
            border-bottom: 1px solid var(--clr-light);

            .left {
                display: flex;
                align-items: center;

                .avatar {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 50%;
                    background-color: var(--clr-gray-300);
                    margin: 2.5rem 2rem; 
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    
                    .name {
                        font-size: 2rem;
                        font-weight: 700;
                    }

                    .nickName {
                        font-size: 1.5rem;
                    }

                    .date {
                        font-size: 1.3rem;
                        font-style: italic;
                    }

                }
            }

        }
    }
}
    