.categories {
    width: 100vw;
    display: grid;
    grid-template-areas:
        "header header header header"
        "menu display display display"
        "footer footer footer footer";

    grid-template-columns: 20vw auto auto auto;
    grid-template-rows: auto auto auto;
    
    gap: 1rem;

    .header {
        grid-area: header;
    }

    .menu {
        background-color: var(--clr-light);
        grid-area: menu;
    }
    
    .display {
        grid-area: display;
        background-color: var(--clr-light);
        padding: 1rem 2rem;
    }

    .footer {
        grid-area: footer;
        background-color: var(--clr-light);
    }
}