.post {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--clr-light);
    border-radius: 0.4rem;
    margin: 1rem 0;
    padding: 1rem 0 1rem 1rem;
    background-color: var(--clr-white);

    .leftBlockPost {

        .title {
            font-size: 2rem;
            font-weight: 700;

            a {
                text-decoration: none;
                color: var(--clr-gray-900);
            }
        }

        .date {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-style: italic;
            color: var(--clr-gray-600);

            span {
                margin-left: 1rem;
            }
        }
    }

    .rightBlockPost {

        a {
            display: flex;
            align-items: center;
            padding: 1rem;
            text-decoration: none;
            color: var(--clr-gray-900);  
        }

    }

    
}