.headerContainer {
    width: 100%;
    height: 50px;
    background-color: var(--clr-gray-900);
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-between;


    .leftHeaderBlock {
        display: flex;
        align-items: center;
        padding-left: 3rem;
        
        a {
            color: var(--clr-white);
            text-decoration: none;

            h1 {
                padding-right: 5rem;
                font-size: 2rem;
                letter-spacing: 0.6rem;
            }
        }

        span {
            margin-left: 1rem;
            font-size: 1.5rem;
            font-style: italic;
        }


    }

    .rightHeaderBlock {

        nav {

            ul {
                display: flex;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding: 0 3rem;
                    font-size: 1.5rem;
                    color: var(--clr-light);
                }
            }
        }
    }

}