.postBuilder {
    margin: 1rem 2rem;
    display: grid;
    grid-template-areas: 
        "topBar topBar topBar"
        "editor sideBar sideBar"
    ;
    grid-template-columns: 70% auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;

    background-color: var(--clr-light);

    .topBar {
        grid-area: topBar;
        background-color: var(--clr-white);
        height: 5rem;
    }

    .editor {
        grid-area: editor;
        padding-left: 1rem;

        .postTitle {
            font-size: 3rem;
            font-weight: 700;
            color: var(--clr-gray-600);
            border: 1px solid var(--clr-gray-300);
        }
    }

    .sideBar {
        grid-area: sideBar;
        padding: 1rem 1rem 0 0;

        .pill {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            flex-wrap: wrap;
        }

        button {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--clr-blue-500);
            color: var(--clr-white);
            padding-right: 0.5rem;
        }
    }

    #editor {
        background-color: var(--clr-white);
    }
}

