.postBuilder {
    margin: 1rem 2rem;
    display: grid;
    grid-template-areas: 
        "topBar topBar topBar"
        "editor sideBar sideBar"
    ;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;

    background-color: var(--clr-light);

    .topBar {
        grid-area: topBar;
        background-color: var(--clr-white);
        height: 5rem;
        position: sticky;
    }

    .editor {
        grid-area: editor;
        padding: 0 1rem;

        .postTitle {
            font-size: 3rem;
            font-weight: 700;
            color: var(--clr-gray-600);
        }
    }

    .sideBar {
        grid-area: sideBar;
    }

    #editor {
        background-color: var(--clr-white);
    }
}

