.users {
    width: 100vw;
    display: grid;
    grid-template-areas:
        "header header header header"
        "menu display display display"
        "footer footer footer footer";

    grid-template-columns: 20vw auto auto auto;
    grid-template-rows: auto auto auto;
    
    gap: 1rem;

    .header {
        grid-area: header;
    }

    .menu {
        background-color: var(--clr-light);
        grid-area: menu;
    }
    
    .display {
        grid-area: display;
        background-color: var(--clr-light);
        padding: 1rem 2rem;

        h1 {
            font-size: 2.5rem;
            color: var(--clr-dark);
            font-weight: 400;
        }

        p {
            font-size: 1.3rem;
            color: var(--clr-gray-600);
        }

        .menu {
            margin: 1rem 2rem;
            background-color: var(--clr-white);
            height: 5rem;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                height: 5rem;

                li {
                    display: flex;
                    align-items: center;
                    margin: 0 2rem;
                    color: var(--clr-blue-500);
                    cursor: pointer;
                }
            }
        }

        
    }

    .footer {
        grid-area: footer;
        background-color: var(--clr-light);
    }
}