.textEditor {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    .editor {
        width: 100%;
        background-color: #FAFAFA;
        //height: 85vh;
        
        padding: 2rem 1rem 2rem 2rem;
    
        color: var(--clr-gray-900);
    
        .inputTitle {
            font-size: 2.5rem;
            padding: 1.2rem 0.6rem;
        }
    
        .saveButton {
            background-color: var(--clr-gray-600);
            color: var(--clr-white);
            transition: all 300ms;
            
            i {
                padding-right: 0.8rem;
            }
    
            &:hover {
                background-color: var(--clr-gray-900);
            }
        }
    
        .publishButton {
            background-color: var(--clr-blue-300);
            color: var(--clr-white);
            transition: all 300ms;
            
            i {
                padding-right: 0.8rem;
            }
    
            &:hover {
                background-color: var(--clr-blue-500);
            }
        }
    }

    .configPost {
        width: 100%;
        background-color: #FAFAFA;
        padding: 2rem 2rem 2rem 1rem;
        color: var(--clr-gray-900);
        
        .card {
            background-color: var(--clr-white);
            border: 1px solid var(--clr-gray-300);
            border-radius: 0.5rem;
            padding: 1rem;
            margin: 1rem 0;

            h1 {
                font-size: 2.5rem;
                text-align: center;
                margin-bottom: 1rem;
            }

            .checkbox {
                
                label {
                    font-size: 1.8rem;
                }
            }

            label {
                font-weight: 700;
            }
        }
    }
}


@media (max-width: 700px) {
    .textEditor {

        .editor {
            .inputTitle {
                font-size: 2rem;
                padding: 1rem 0.6rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .textEditor {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}